.navbar {
    background-color: #070707
}

body {
    background-color: #F2F4F3;    
}
.pageTitle {
    margin-top: 255px;
    opacity: 1.0;
}

.jumbotron {
    background-image: url('/images/house3.jpeg');
    background-color: #40434E;
    color: rgb(255, 255, 255);    
    height: 385px;
}

.radio-inline {
    font-size: 1.3em;
}