<div class="container">
    <h3>Add New Listing</h3>
    <div class="form-group row">
        <div class="col-xs-4">
            <label class="radio-inline">
                <input type="radio" name="optradio" ng-model="type" value="sale">For Sale</label>
            <label class="radio-inline">
                <input type="radio" name="optradio" ng-model="type" value="rent">Rental</label>
            <br>
            <br>
            <input ng-show="type == 'rent'" type="text" class="form-control input" placeholder="Yearly Rent" ng-model="vm.newListing.cost">            
            <input ng-show="type == 'sale'" type="text" class="form-control input" placeholder="Price" ng-model="vm.newListing.cost">
            <br>
            <input ng-show="type == 'rent'" type="text" class="form-control input" placeholder="Square Footage" ng-model="vm.newMovie.posterUrl">
            <input ng-show="type == 'sale'"type="text" class="form-control input" placeholder="Square Footage" ng-model="vm.newMovie.posterUrl">
            <br>
            <input ng-show="type == 'rent'" type="text" class="form-control input" placeholder="City" ng-model="vm.newMovie.description">            
            <input ng-show="type == 'sale'" type="text" class="form-control input" placeholder="City" ng-model="vm.newMovie.description">
            <br>
            <button ng-show="type == 'rent'" class="btn btn-default" ng-click="vm.addNewMovie(vm.newMovie)">Add Rental</button>            
            <button ng-show="type == 'sale'" class="btn btn-default" ng-click="vm.addNewMovie(vm.newMovie)">Add Listing</button>
        </div>
    </div>
</div>