<div class="container">
    <div class="jumbotron">
        <h1>Properties For Rent</h1>
    </div>

    <div class="col-md-12">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Yearly Rent</th>
                    <th>Square Footage</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="rental in vm.rent.list">
                    <td>
                        {{rental.rent}}
                    </td>
                    <td>
                        {{rental.sqft}}
                    </td>
                    <td>
                        {{rental.city}}
                    </td>
                    <td>
                        <button class="btn btn-default" ng-click="vm.deleteRental(rental)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>